.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93vh;
}
.project-info-container {
  display: flex;
  width: 938px;
  height: 317px;
  background-color: #7796CB;
  flex-direction: column;
}
.project-info-container h1 {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 75px;
}
.project-tiles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.project-tile {
  width: 142px;
  height: 142px;
  /* border-radius: 50%; */
  background-color: #00B295;
}