.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93vh;
}
.project-info-container {
  display: flex;
  width: 938px;
  height: 350px;
  background-color: #7796CB;
  flex-direction: column;
}
.project-info-container h1 {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 32px;
}
.project-tiles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
