.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88.9%;
  flex-direction: column;
}
.contact-form {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  justify-content: space-around;
}
.contact-container h1 {
  overflow: hidden;
  color: #5481C4;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 5vw;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-form input,
.contact-form .form-name-inputs-container input,
.contact-form textarea {
  border: 2px solid #101111;
  background: #FFF;
  font-family: "Inter", sans-serif;
  padding: 2%;
  height: 100%;
}
.contact-form input::placeholder,
.contact-form .form-name-inputs-container input::placeholder,
.contact-form textarea {
  color: grey;
}
.form-name-inputs-container {
  display: flex;
  height: 10%;
  width: 100%;
  justify-content: space-between;
}
.form-first-name-container, .form-last-name-container {
  display: flex;
  flex-direction: column;
  width: 42%;
  height: 100%;
}
.form-email-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
}
.form-inquiry-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
}

#first-name-input-error::placeholder,
#last-name-input-error::placeholder,
#email-input-error::placeholder,
#inquiry-input-error::placeholder {
  color: red;
}

.contact-form button {
  margin: 0 auto;
  height: 10%;
  width: 25%;
  border-radius: 400px;
  border: 5px solid #101111;
  background: #5481C4;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  color: #E6F2FA;
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Fjalla One', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}