.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93vh;
}
.about-me-container .info-container {
  white-space: pre-line;
  margin: 70px;
}
.profile-photo-container {
  margin: 70px;
}
/* .profile-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 420px;
  background-color: #00B295;
  border-radius: 50%;
  outline: black solid 2px;
} */
.profile-photo-container #profile-photo {
  width: 300px;
  height: 400px;
  outline: black solid 2px;
}